@{
    ViewBag.Title = "Your invoice";
}

@Html.Partial("_BreadcrumbPlus")
@model AdventureLife.reservation

<div class="feature">
    <h1>Thank you!</h1>
    <p id="invoice">We will await your payment at the facility. Here is your invoice:</p>
    <dl>
        <dt>
            Name:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            Phone:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>
        <dt>
            Email:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt>
            Day and time:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eventDate) @Html.DisplayFor(model => model.eventTime.startTime)
        </dd>
        <dt>
            Activity:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.activity.name)
        </dd>
        <dt>
            Price per person:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.activity.price) DKK
        </dd>
        <dt>
            Amount of participants:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.people)
        </dd>
        <dt>
            Total price:
        </dt>
        <dd>
            @( @ViewBag.People * @ViewBag.Price  ) DKK
        </dd>
    </dl>
</div>