<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Styles/main.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="header">
        <img id="logo" src="~/images/logo.png" alt="Adventure Life logo" />
        <div id="nav-icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav id="main-nav">
            <ul>
                @Html.ActionLink("Home", "Index", "Home")
                @Html.ActionLink("Booking", "Index", "Booking")
                @Html.ActionLink("Contact", "Index", "Contact")
                @Html.ActionLink("FAQ", "Index", "Faq")
                @Html.ActionLink("Safety", "Index", "Safety")
                @Html.ActionLink("Rock Climbing", "Rockclimbing", "Activity", new { area = "" }, new { @class = "activity" })
                @Html.ActionLink("Bow Tag", "Bowtag", "Activity", new { area = "" }, new { @class = "activity" })
                @Html.ActionLink("Paintball", "Paintball", "Activity", new { area = "" }, new { @class = "activity" })
            </ul>
        </nav>
    </div>

    <div class="container--general">
        
        @RenderBody()

    </div>

    <footer>
        <div class="item-2">
            <h2>Contact us!</h2>
                <ul>
                    <li>
                        <span style="white-space: nowrap;">
                            <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                            <p>+(45) 123 456 789</p>
                        </span>
                    </li>
                    <li>
                        <span style="white-space: nowrap;">
                            <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                            <p>info@adventurelife.com</p>
                        </span>
                    </li>
                    <li>
                        <span style="white-space: nowrap;">
                            <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
                            <p>Check out our facebook!</p>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <p>	&copy; @DateTime.Now.Year . All rights reserved. Adventure. Life.</p>
    </footer>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/main.js"></script>

</body>
</html>