<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="">
        <div class="">
            <div class="">
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "" })
            </div>
            <div class="">
                <ul class="">
                    @Html.ActionLink("Dashboard", "Index", "Dashboard", new { area = "Admin" }, new { @class = "" })
                    @Html.ActionLink("Reservations", "Index", "Reservations", new { area = "Admin" }, new { @class = "" })
                    @Html.ActionLink("Employees", "Index", "Employees", new { area = "Admin" }, new { @class = "" })
                    @Html.ActionLink("Activities", "Index", "Activities", new { area = "Admin" }, new { @class = "" })
                </ul>
            </div>
        </div>
    </div>

    <div class="">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
</body>
</html>