@model AdventureLife.reservation

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>reservation</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.people)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.people)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eventDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eventDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activity.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activity.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eventTime.startTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eventTime.startTime)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div>
            <input type="submit" value="Delete" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
