@model AdventureLife.reservation

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <fieldset>
        @Html.ValidationSummary(true, "", new { @class = "" })
        <div class="form-group">
            <label>Full Name <span>*</span></label>
            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "" } })
            @Html.ValidationMessageFor(model => model.name, "", new { @class = "validation" })
        </div>

        <div class="form-group">
            <label>Phone <span>*</span></label>
            @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "" } })
            @Html.ValidationMessageFor(model => model.phone, "", new { @class = "validation" })
        </div>

        <div class="form-group">
            <label>Email <span>*</span></label>
            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "" } })
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "validation" })
        </div>

        <div class="form-group">
            <label>Day <span>*</span></label>
            @Html.EditorFor(model => model.eventDate, new { htmlAttributes = new { @class = "datepicker js-datepicker" } })
            @Html.ValidationMessageFor(model => model.eventDate, "", new { @class = "validation" })
        </div>

        <div class="form-group">
            <label>Time <span>*</span></label>
            @Html.DropDownList("eventTimeID", null, htmlAttributes: new { @class = "" })
            @Html.ValidationMessageFor(model => model.eventTimeID, "", new { @class = "validation" })
        </div>

        <div class="form-group">
            <label>Amount of participants <span>*</span></label>
            @Html.EditorFor(model => model.people, new { htmlAttributes = new { @class = "" } })
            @Html.ValidationMessageFor(model => model.people, "", new { @class = "validation" })
        </div>

        <div class="form-group">
            <label>Activity <span>*</span></label>
            @Html.DropDownList("activityID", null, htmlAttributes: new { @class = "" })
            @Html.ValidationMessageFor(model => model.activityID, "", new { @class = "validation" })
        </div>

        <div class="form-group">
            <label>Instructor <span>*</span></label>
            @Html.DropDownList("employeeID", null, htmlAttributes: new { @class = "" })
            @Html.ValidationMessageFor(model => model.employeeID, "", new { @class = "validation" })
        </div>

        <div>
            <div>
                <input type="submit" value="Edit" />
            </div>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
