@model AdventureLife.employee

@{
    ViewBag.Title = "Edit employee details";
}

<h2>Edit employee details</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <div>
            <h4>employee</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "" })
            @Html.HiddenFor(model => model.id)
            @Html.HiddenFor(model => model.firstName)
            @Html.HiddenFor(model => model.lastName)
            @Html.HiddenFor(model => model.initial)

            <div>
                <p>Name: @Html.DisplayFor(model => model.firstName) @Html.DisplayFor(model => model.lastName)</p>
            </div>

            <div>
                <p>Initials: @Html.DisplayFor(model => model.initial)</p>
            </div>

            <div>
                @Html.LabelFor(model => model.phone, htmlAttributes: new { @class = "" })
                <div>
                    @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "" } })
                    @Html.ValidationMessageFor(model => model.phone, "", new { @class = "" })
                </div>
            </div>

            <div>
                @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "" })
                <div>
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "" } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "" })
                </div>
            </div>

            <div>
                <div>
                    <input type="submit" value="Save" />
                </div>
            </div>
        </div>
    </fieldset>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
