@model AdventureLife.activity

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <div>
            <h4>activity</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "" })
            @Html.HiddenFor(model => model.id)

            <div>
                <h4>@Html.DisplayFor(model => model.name)</h4>
                <label>Old price: <span>@Html.DisplayFor(model => model.price)</span> DKK</label>
            </div>

            <div>
                <div>
                    <label>New price (DKK):</label>
                    @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "" } })
                    @Html.ValidationMessageFor(model => model.price, "", new { @class = "" })
                </div>
            </div>

            <div>
                <div>
                    <input type="submit" value="Save" />
                </div>
            </div>
        </div>
    </fieldset>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
