@model IEnumerable<AdventureLife.activity>

@{
    ViewBag.Title = "Index";
}

<h2>Activites</h2>

@foreach (var item in Model)
{
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.name)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.price)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.price) DKK
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Change price", "Edit", new { id = item.id })
    </p>
}

